/* v3 Theme */

/* Override Body background color */
@font-face {
    font-family: LiAlinurNakkhatraUnicode;
    src: url('LiAlinurNakkhatraUnicode.woff') format('woff');
}

body {
    font-family: LiAlinurNakkhatraUnicode, -apple-system, BlinkMacSystemFont, Fira Sans, Helvetica Neue, Apple Color Emoji, sans-serif;
    background-color: #fce4ec !important; /* Light Pink background */
}

/* Override Primary button (Login) color */
.btn-primary {
    background-color: #e91e63 !important; /* Pink color */
    border-color: #e91e63 !important;
    color: #fff !important;
    padding: 12px !important;
    font-size: 1.1rem !important;
    border-radius: 30px !important;
    width: 100% !important;
}

.btn-primary:hover {
    background-color: #d81b60 !important; /* Darker pink on hover */
    border-color: #d81b60 !important;
}

/* Override Warning button (Package button) color */
.btn-warning {
    background-color: #ffeb3b !important; /* Yellow color */
    border-color: #ffeb3b !important;
    color: #000 !important; /* Black text */
    padding: 12px !important;
    font-size: 1.1rem !important;
    border-radius: 30px !important;
    width: 100% !important;
}

.btn-warning:hover {
    background-color: #fdd835 !important; /* Darker yellow on hover */
    border-color: #fdd835 !important;
}

/* Override Tab button styles */
.tab button {
    background-color: #8e24aa !important; /* Purple color */
    color: #fff !important;
    padding: 12px !important;
    border: none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    width: 50% !important;
    border-radius: 30px 30px 0 0 !important;
    transition: background-color 0.3s ease !important;
}

.tab button:hover {
    background-color: #7b1fa2 !important; /* Darker purple on hover */
}

.tab button.active {
    background-color: #5e35b1 !important; /* Darker purple when active */
    color: #fff !important;
}

/* Override Form background */
.auth-form {
    background-color: #fff3e0; /* Soft orange */
}
